[Unit]
Description=BuildKit Dameon
Requires=containerd.service
Requires=buildkitd.socket
JoinsNamespaceOf=setup-network.service
StopPropagatedFrom=rancher-desktop.target

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/rancher-desktop
ExecCondition=test ${CONTAINER_ENGINE} = containerd
ExecStart=/usr/local/bin/buildkitd \
  --oci-worker=false --containerd-worker=true \
  --containerd-worker-addr=/run/k3s/containerd/containerd.sock \
  --addr fd://

[Install]
WantedBy=rancher-desktop.target
