[Unit]
Description=BuildKit Socket
StopPropagatedFrom=rancher-desktop.target

[Socket]
ListenStream=/run/buildkit/buildkitd.sock
SocketMode=0660

[Install]
WantedBy=rancher-desktop.target
