[Unit]
Description=Rancher Desktop Shim for Docker Engine
Requires=docker.service
Requires=setup-network.service
JoinsNamespaceOf=setup-network.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cri-dockerd \
  --container-runtime-endpoint unix:///run/cri-dockerd.sock \
  --network-plugin=cni \
  --cni-bin-dir=/usr/libexec/cni \
  --cni-conf-dir=/etc/cni/net.d \
  --cni-cache-dir=/var/lib/cni/cache

[Install]
WantedBy=rancher-destkop.target
