[Unit]
Description=Rancher Desktop Provisioning Scripts
Requires=setup-network.service
JoinsNamespaceOf=setup-network.service

[Service]
Type=oneshot
ExecStart=/bin/true

[Install]
WantedBy=rancher-destkop.target
